<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.ireflux.westcitymall.mapper.CyCategoriesMapper">




    <insert id="insertAll" keyProperty="id" parameterType="java.util.List"  >
        insert into cy_categories(cate_name,pid)
        values
        <foreach collection="list" item="categories" separator="," index="index">
            (
            #{categories.cateName},
            #{categories.pid}
            )
        </foreach>
    </insert>
</mapper>